body {
    background: url('../img/background.gif') no-repeat center center/cover;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    background-color: #27251F;
    padding: -110px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    max-width: 1000px; /* Set a maximum width for the container */
    width: 100%; /* Ensure the container takes full width inside body */
    text-align: center; /* Center the content inside the container */
  }
  
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .split-title {
    font-size: 48px; /* Adjust the font size as needed */
    background: linear-gradient(to bottom, #d7e008 50%, #ac0000 50%); /* Red to Yellow gradient */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .title-2 {
    color:white;
  }
  .form-group {
    color: white;
  }
  .recents {
    color: white;
  }
  
  .navbar {
    margin-top: 20px;
  }
  
  .navbar-nav {
    display: flex;
    flex-direction: row;
  }
  
  .navbar-brand {
    margin-right: 20px;
    color: #db9929;
  }
  
  .navbar-brand:hover {
    color: #efeecc;
  }
  
  
  input[type="text"], 
  input[type="email"], 
  input[type="password"], 
  textarea {
    width: 100%; /* Make the input fields take full width */
    max-width: 250px; /* Set a maximum width for the input fields */
    margin: 0 auto; /* Center the input fields */
    margin-bottom: 10px; /* Add some space between input fields */
  }
